body {
	width: 600px;
}

label {
	border-bottom: none !important;
}

textarea,
input[type="submit"] {
	height: 72px;
}

textarea {
	white-space: pre-wrap;
}

#submitHint {
	text-align: right;
	display: block;
}
